@mixin for-size($size) {
  @if ($size == smaller-phone) {
    @media (max-width: 599px) {
      @content;
    }
  } @else if ($size == phone-only) {
    @media (min-width: 600) {
      @content;
    }
  } @else if ($size == tablet-portrait-up) {
    @media (min-width: 786px) {
      @content;
    }
  } @else if ($size == tablet-landscape-up) {
    @media (min-width: 900px) {
      @content;
    }
  } @else if ($size == desktop-up) {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if ($size == big-desktop-up) {
    @media (min-width: 1800px) {
      @content;
    }
  }
}
