@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;700;800&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "./base/reset";
@import "./abstracts/variables";
@import "./abstracts/mixins";
@import "./components/buttons";
@import "./layout/header";
@import "./layout/about";
@import "./layout/services";
@import "./layout/projects";
@import "./layout/contact";
@import "./layout/newsletter";
@import "./layout/footer";
@import "./abstracts/responsive";

span {
  color: var(--cor-principal);
  font-weight: 700;
}

section + section {
  margin-top: 10rem;
}
