.services-section {
  padding: 7rem 0;
}

.services-title {
  text-align: center;
  font-family: var(--font-family-title);
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--cor-principal);
}

.services {
  margin-top: 7rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.services__card {
  background: var(--cor-principal);
  height: 26rem;
  width: 25rem;
}

.services__card-title {
  display: flex;
  justify-content: center;
  height: 5rem;
  border-radius: 0 0 3rem 3rem;
  background: var(--cor-secundaria);
}

.services__card-text {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: justify;
  color: var(--cor-principal);
}

.services__card-icon {
  height: 1.7rem;
  filter: var(--cor-light-icons-secundaria);
}

.services__card-list {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  gap: 1rem;
}
